sonarqube:
  sonarqubeUsername: "admin"
  existingSecret: "sonarqube-admin-password"
  updateStrategy:
    type: Recreate  # use recreate because of RWO PVC
  service:
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: "openshift-default"
    hostname: "sonarqube.apps.cluster.example.com"
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
    tls: true
  resources:
    limits:
      cpu: 250m
      memory: 3072Mi
  persistence:
    enabled: true
  postgresql:
    auth:
      existingSecret: sonarqube-postgresql
    primary:
      podSecurityContext:
        enabled: false
      containerSecurityContext:
        enabled: false
    volumePermissions:
      enabled: false
  sysctl:
    enabled: false
  rbac:
    create: true
  serviceAccount:
    create: true
    name: sonarqube
  metrics:
    jmx:
      enabled: true
    serviceMonitor:
      enabled: true