project:
  create: true
  name: gepaplexx

applications:
################## RESOURCE LOCKER OPERATOR ###################
  resourceLocker:
    name: resource-locker-operator
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-resource-locker
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

################## SEALED SECRETS OPERATOR ####################
  sealedSecretsOperator:
    name: sealed-secrets-operator
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: false
    source:
      chart: sealed-secrets
      repoURL: https://bitnami-labs.github.io/sealed-secrets
      targetRevision: 2.*
      helm:
        parameters:
          - name: containerSecurityContext.enabled
            value: 'false'
          - name: podSecurityContext.enabled
            value: 'false'
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

###################### IDENTITY PROVIDER ######################
  identityProvider:
    name: identity-provider
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-identity-provider
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

###################### OAUTH GROUP SYNC  ######################
  oauthGroupSync:
    name: oauth-group-sync
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: example
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-oauth-group-sync
    syncPolicy:
      automated:
        prune: true
        selfHeal: true


####################### CLUSTER-CONFIG ########################
  clusterConfig:
    name: cluster-config
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: example
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-config
      targetRevision: "*"
      helm:
        parameters:
          - name: "alertmanager.config"
            value: "encrypted-alertmanager-config"
#          - name: "argocd.infranodes.enabled"
#            value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

####################### CLUSTER-UPDATER #######################
  clusterUpdater:
    name: cluster-updater
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-updater
      helm:
        parameters:
        - name: "slack.channel"
          value: "" #TODO
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

########################## ROOK/CEPH OPERATOR ##########################
  rookCephOperator:
    name: rook-ceph-operator
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: rook-ceph
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-rook-ceph-operator
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

########################## ROOK/CEPH INSTANCE ##########################
  rookCephInstance:
    name: rook-ceph-instance
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: rook-ceph
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-storage-cephcluster
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

################### CLUSTER-LOGGING OPERATOR ##########################
  clusterLoggingOperator:
    name: cluster-logging-operator
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: openshift-logging
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-operator
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

####################### CLUSTER-LOGGING #######################
  clusterLogging:
    name: cluster-logging-instance
    enabled: false
    destination:
      namespace: openshift-logging
      create: true
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-instance
      targetRevision: "*"
      helm:
        parameters:
        - name: "elasticsearch.nodeCount"
          value: "3"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

####################### CLUSTER-LOGGING-EVENTROUTER #######################
  clusterLoggingEventrouter:
    name: cluster-logging-eventrouter
    enabled: true
    destination:
      namespace: openshift-logging
      create: true
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-eventrouter
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CLUSTER-MONITORING ######################
  clusterMonitoring:
    name: cluster-monitoring
    enabled: false            # An dieser Stelle nur aktivieren, wenn es ein Cluster ohne Infranodes ist!
    argoProject: gepaplexx
    destination:
      namespace: openshift-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-monitoring-config
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### OPENSHIFT PIPELINES OPERATOR ######################
  openshiftPipelinesOperator:
    name: openshift-pipelines-operator
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: openshift-gitops
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-tekton-operator
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### OPENSHIFT IMAGE REGISTRY ######################
  internalRegistry:
    name: openshift-registry
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-ocp-internal-registry
      targetRevision: "*"
      helm:
        parameters:
        - name: "pvc.storage"
          value: "250Gi"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### IMAGE REGISTRY CACHE ######################
  internalRegistryMirror:
    name: openshift-registry-mirror
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-pull-through-cache
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CERT-MANAGER ######################
  certManager:
    name: cert-manager
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: cert-manager
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cert-manager
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CERTIFICATES-PATCHES ######################
  certificatesPatches:
    name: certificate-patches
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-certificates-patches
      targetRevision: "*"
      helm:
        parameters:
        - name: "apiserver.customApiUrl"
          value: "api.clustername.example.com"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CLUSTER-ISSUER ######################
  clusterIssuer:
    name: cluster-issuer
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: cert-manager
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-issuer
      targetRevision: "*"
      helm:
        parameters:
        - name: "solvers.dnsZones[0]"
          value: "clustername.example.com"
        - name: "solvers.accessKeyId"
          value: "ACCESS-KEY"
        - name: "solvers.secretName"
          value: "steppe-route53-credentials-secret"
        - name: "solvers.secretAccessKey"
          value: "sealed-secret-encrypted-access-key"
        - name: "certificates.defaultIngress"
          value: "*.apps.clustername.example.com"
        - name: "certificates.console"
          value: "console.clustername.example.com"
        - name: "certificates.api"
          value: "api.clustername.example.com"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CONSOLE-PATCHES ######################
  consolePatches:
    name: console-patches
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-console-patches
      targetRevision: "*"
      helm:
        parameters:
        - name: "route.nameOverride"
          value: "true"
        - name: "route.hostname"
          value: "clustername.example.com"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### JAEGER ######################
# either jaeger or service-mesh should be used. not both
  jaeger:
    name: jaeger
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: openshift-tracing
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-jaeger
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: false
        selfHeal: true

##################### SERVICE-MESH ######################
# either jaeger or service-mesh should be used. not both
  service-mesh:
    name: service-mesh
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: istio-system
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-servicemesh
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD-TOOLS ######################
  gepaplexx-cicd-tools:
    name: gepaplexx-cicd-tools
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "*"
      helm:
        parameters:
        - name: "argocd.route.hostname"
          value: "argocd.${CLUSTERNAME}.gepaplexx.com"
        - name: "argo_workflows.ingress.hostname"
          value: "workflows.${CLUSTERNAME}.gepaplexx.com"
        - name: "argo_rollouts.dashboard.ingress.hosts[0]"
          value: "rollouts.${CLUSTERNAME}.gepaplexx.com"
        - name: "argo_rollouts.dashboard.ingress.tls[0].hosts[0]"
          value: "rollouts.${CLUSTERNAME}.gepaplexx.com"
        - name: "argo_rollouts.dashboard.ingress.tls[0].secretName"
          value: "rollouts.${CLUSTERNAME}.gepaplexx.com-tls"
        # Access to gepaplexx/gepaplexx-cicd repository!
        - name: "argocd.workflowrepository.username"
          value: "REPLACE WITH KUBESEAL ENCRYPTED USERNAME"
        - name: "argocd.workflowrepository.sshPrivateKey"
          value: "REPLACE WITH KUBESEAL ENCRYPTED PRIVATE KEY"
        - name: "argocd.workflowrepository.enabled"
          value: "true"
        - name: "sealedSecrets.postgresql.password"
          value: "REPLACE WITH KUBESEAL ENCRYPTED PASSWORD"
        - name: "sealedSecrets.postgresql.postgresPassword"
          value: "REPLACE WITH KUBESEAL ENCRYPTED PASSWORD"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-argo-events:
    name: gp-cicd-argo-events
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-argo-events
      targetRevision: "*"
      helm:
        skipCrds: true
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-eventbus:
    name: gepaplexx-cicd-eventbus
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gepaplexx-cicd-eventbus
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD ######################
  gepaplexx-cicd:
    name: gepaplexx-cicd
    enabled: false
    argoProject: gepaplexx-cicd
    destianation:
      namespace: openshift-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/${CLUSTERNAME}/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### KASTEN K10 OPERATOR ######################
  kasten-operator:
    name: k10-operator
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: k10
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-kasten-operator"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### KASTEN K10 BACKUP ######################
  kasten-instance:
    name: k10
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: k10
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-kasten-instance"
      helm:
        parameters:
          - name: "kasten.auth.clusterApiURL"
            value: "api.${CLUSTERNAME}.gepaplexx.com"
          - name: "kasten.route.host"
            value: "kasten.apps.${CLUSTERNAME}.gepaplexx.com"
          - name: "kasten.clusterName"
            value: "${CLUSTERNAME}"
    ignoreDifferences:
      - jsonPointers:
          - /spec/auth/openshift/clientSecret
        kind: K10
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

####################### NFS-STORAGE-PROVISIONER ######################
  nfs-provisioner:
    name: nfs
    enabled: false
    argoProject: gepaplexx
    destination:
      namespace: nfs-storage-provisioner
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-nfs-provisioner"
      helm:
        parameters:
          - name: "provisioner.nfs.path"
            value: "/data/col1/${CLUSTERNAME}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true