kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
  labels:
    component: "{{ .Release.Name }}"
    logging-infra: "{{ .Release.Name }}"
    provider: "openshift"
spec:
  selector:
    matchLabels:
      component: "{{ .Release.Name }}"
      logging-infra: "{{ .Release.Name }}"
      provider: "openshift"
  replicas: 1
  template:
    metadata:
      labels:
        component: "{{ .Release.Name }}"
        logging-infra: "{{ .Release.Name }}"
        provider: "openshift"
      name: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      containers:
        - name: kube-eventrouter
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            requests:
              cpu: "{{ .Values.resources.requests.cpu }}"
              memory: "{{ .Values.resources.requests.memory }}"
            limits:
              cpu: "{{ .Values.resources.limits.cpu }}"
              memory: "{{ .Values.resources.limits.memory }}"
          volumeMounts:
            - name: config-volume
              mountPath: /etc/eventrouter
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}
