#    run the following commands after uninstalling kyverno helm plugin:
#      kubectl delete validatingwebhookconfiguration kyverno-policy-validating-webhook-cfg;
#      kubectl delete validatingwebhookconfiguration kyverno-resource-validating-webhook-cfg;
#      kubectl delete mutatingwebhookconfiguration kyverno-policy-mutating-webhook-cfg;
#      kubectl delete mutatingwebhookconfiguration kyverno-resource-mutating-webhook-cfg;
#      kubectl delete mutatingwebhookconfiguration kyverno-verify-mutating-webhook-cfg;

kyverno:
  rbac:
    serviceAccount:
      name: kyverno
  serviceMonitor:
    enabled: true
  webhooksCleanup:
    enable: true

  config:
    resourceFilters:
      - '[*,openshift-*,*]'
      - '[*,rook-ceph,*]'
      - '[*,gepaplexx-*,*]'
      - '[*,gp-infrastructure,*]'
      # The following are the default values for the kyverno-configmap
      - '[Event,*,*]'
      - '[*,kube-system,*]'
      - '[*,kube-public,*]'
      - '[*,kube-node-lease,*]'
      - '[Node,*,*]'
      - '[APIService,*,*]'
      - '[TokenReview,*,*]'
      - '[SubjectAccessReview,*,*]'
      - '[SelfSubjectAccessReview,*,*]'
      - '[Binding,*,*]'
      - '[ReplicaSet,*,*]'
      - '[ReportChangeRequest,*,*]'
      - '[ClusterReportChangeRequest,*,*]'
      # exclude resources from the chart
      - '[ClusterRole,*,{{ template "kyverno.fullname" . }}:*]'
      - '[ClusterRoleBinding,*,{{ template "kyverno.fullname" . }}:*]'
      - '[ServiceAccount,{{ include "kyverno.namespace" . }},{{ template "kyverno.serviceAccountName" . }}]'
      - '[ConfigMap,{{ include "kyverno.namespace" . }},{{ template "kyverno.configMapName" . }}]'
      - '[ConfigMap,{{ include "kyverno.namespace" . }},{{ template "kyverno.metricsConfigMapName" . }}]'
      - '[Deployment,{{ include "kyverno.namespace" . }},{{ template "kyverno.fullname" . }}]'
      - '[Job,{{ include "kyverno.namespace" . }},{{ template "kyverno.fullname" . }}-hook-pre-delete]'
      - '[NetworkPolicy,{{ include "kyverno.namespace" . }},{{ template "kyverno.fullname" . }}]'
      - '[PodDisruptionBudget,{{ include "kyverno.namespace" . }},{{ template "kyverno.fullname" . }}]'
      - '[Role,{{ include "kyverno.namespace" . }},{{ template "kyverno.fullname" . }}:*]'
      - '[RoleBinding,{{ include "kyverno.namespace" . }},{{ template "kyverno.fullname" . }}:*]'
      - '[Secret,{{ include "kyverno.namespace" . }},{{ template "kyverno.serviceName" . }}.{{ template "kyverno.namespace" . }}.svc.*]'
      - '[Service,{{ include "kyverno.namespace" . }},{{ template "kyverno.serviceName" . }}]'
      - '[Service,{{ include "kyverno.namespace" . }},{{ template "kyverno.serviceName" . }}-metrics]'
      - '[ServiceMonitor,{{ if .Values.serviceMonitor.namespace }}{{ .Values.serviceMonitor.namespace }}{{ else }}{{ template "kyverno.namespace" . }}{{ end }},{{ template "kyverno.serviceName" . }}-service-monitor]'
      - '[Pod,{{ include "kyverno.namespace" . }},{{ template "kyverno.fullname" . }}-test]'

