patch:
  namespace: syn-patch-operator
  serviceAccount: patch-sa
ingress:
  hostname: sso.apps.cluster.example.com
realm:
  internalName: internal

replicas: 1
image: "" # empty => use default image from operator
persistence:
  enabled: true
features:
  # Comma separeted list of features to be disabled
  disabled: "admin2"
  # Comma separeted list of features to be enabled
  enabled: "openshift-integration,token_exchange,impersonation,admin_fine_grained_authz"

provider:
  openshift:
    enabled: true

######################
##    Postgresql    ##
######################
postgresql:
  fullnameOverride: postgresql-keycloak
  service:
    ports:
      postgresql: 5432
  auth:
    username: keycloak # don't override
    database: keycloak # don't override
    existingSecret: keycloak-config # don't override
  primary:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    persistence:
      size: 8Gi
  backup:
    enabled: true
    # default values if backu is enabled
    size: 10Gi
    schedule: '0 0 * * *'
    retain:
      days: 8 # need to +1, so 7 days = 8
serviceMonitor:
  name: sso
