apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ots
    {{- include "gp-one-time-secret.labels" . | nindent 4 }}
  name: {{ .Release.Name}}
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: ots
      {{- include "gp-one-time-secret.selectorLabels" . | nindent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ots
        {{- include "gp-one-time-secret.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - image: ghcr.io/fhochleitner/ots:2.0
        imagePullPolicy: IfNotPresent
        name: ots
        ports:
        - containerPort: 3000
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
