{{- if .Values.collector.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "gp-multena-rbac-collector.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gp-multena.labels" . | nindent 4 }}
spec:
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: {{ include "gp-multena-rbac-collector.name" . }}
  selector:
    {{- include "gp-multena-rbac-collector.selectorLabels" . | nindent 4 }}
  type: ClusterIP
{{- end -}}