clusterAdminSAName: gp-admin-sa

resourceQuota:
  requests:
    cpu: 5
    memory: 5Gi
  limits:
    cpu: 7
    memory: 15Gi

limitRange:
  default:
    cpu: 100m
    memory: 500Mi
  defaultRequest:
    cpu: 25m
    memory: 250Mi

alertmanager:
  config: