infranodes:
  enabled: false
clusterlogging:
  managementState: "Managed"
elasticsearch:
  retentionPolicy: 
    application:
      maxAge: 30d
    infra:
      maxAge: 30d
    audit:
      maxAge: 2d
  resources:
    limits:
      memory: "16Gi"
      cpu: "2"
    requests:
      cpu: "1"
      memory: "16Gi"
  nodeCount: 3       
  storage:
    storageClassName: rook-ceph-block
    size: 100G
  redundancyPolicy: "SingleRedundancy"
fluentd:
  resources:
    limits:
      memory: " 736Mi"
      cpu: "250m"
    requests:
      cpu: "150m"
      memory: "736Mi"
kibana:
  replicas: 1
  resources:
    limits:
      memory: " 1Gi"
      cpu: "250m"
    requests:
      cpu: "150m"
      memory: "1Gi"
