{{- if or .Values.persistence.enabled .Values.provider.openshift.enabled }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: keycloak-config
  namespace: {{ .Release.Namespace }}
spec:
  encryptedData:
    {{- if .Values.provider.openshift.enabled }}
    clientSecret: {{ .Values.provider.openshift.clientSecret }}
    {{- end }}
    {{- if .Values.persistence.enabled }}
    password: {{ .Values.persistence.auth.password }}
    postgres-password: {{ .Values.persistence.auth.password }}
    {{- end }}
  template:
    data:
      username: {{ .Values.postgresql.auth.username }}
    metadata: {}
    type: Opaque
---
{{- if .Values.provider.openshift.enabled }}
apiVersion: redhatcop.redhat.io/v1alpha1
kind: Patch
metadata:
  name: patch-keycloak-oauthclient
  namespace: {{ .Values.patch.namespace }}
spec:
  serviceAccountRef:
    name: {{ .Values.patch.serviceAccount }}
  patches:
    patch-oauthclient:
      targetObjectRef:
        apiVersion: oauth.openshift.io/v1
        kind: OAuthClient
        name: keycloak
      patchTemplate: |
        secret: {{`{{ (index . 1).data.clientSecret | b64dec }}`}}
      patchType: application/merge-patch+json
      sourceObjectRefs:
        - apiVersion: v1
          kind: Secret
          name: keycloak-config
          namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}