openshift: true # openshift or vanilla kubernetes?

proxy:
  log:
    level: 1 # 0 - debug, 1 - info, 2 - warn, 3 - error, -1 trace (exposes sensitive data)
  admin:
    bypass: false # enable admin bypass
    group: gepardec-run-admins # group name for admin bypass
  thanos:
    url: https://thanos-querier.openshift-monitoring.svc.cluster.local:9091
    tenantLabel: namespace
  loki:
    url: https://loki-query-frontend-http.openshift-logging.svc.cluster.local:3100
    tenantLabel: kubernetes_namespace_name
    actorHeader: X-Loki-Actor-Path
    headers:
      X-Scope-OrgID: application
  alert:
    enabled: false # enable alerting
    tokenHeader: X-Multena-alert # header to use for the token
    certUrl: https://sso.play.run.gepardec.com/realms/internal/protocol/openid-connect/certs
    cert: '' # local jwks cert
  db:
    enabled: false # enable mysql label provider
    user: multitenant
    passwordPath: "/etc/secrets/db/password" # path to the password file
    host: localhost # host of the db
    port: 3306 # port of the db
    dbName: example # name of the db
    query: "SELECT * FROM users WHERE username = ?" # sql query to execute, must return a list of allowed labels
    tokenKey: "" # field in the jwt to use in the sql query
    existingSecret: "" # name of the existing secret with the password
  web:
    labelStoreKind: configmap # label provider either configmap or mysql
    oauthGroupName: "groups"
    jwksCertUrl: https://sso.play.run.gepardec.com/realms/internal/protocol/openid-connect/certs
    tlsVerifySkip: false # skip tls verification very insecurely!!!
  securityContext: {}
  topologySpreadConstraints: []

GrafanaOperatorDatasources:
  thanos: true
  loki: true
  labelSelector:
    monitoring.gepardec.com/system: 'true'

replicas: 1
image:
  repository: ghcr.io/gepaplexx/multena-proxy
  pullPolicy: IfNotPresent
  tag: ""

collector:
  enabled: true # enables rbac collection of cluster
  logLevel: 1 # 0 - debug, 1 - info, 2 - warn, 3 - error, -1 trace (exposes sensitive data)
  healthPort: 8080
  image:
    name: ghcr.io/gepaplexx/multena-rbac-collector
    tag: 0.1.5
    pullPolicy: IfNotPresent
  resources:
    requests:
      memory: 40Mi
      cpu: 5m
    limits:
      memory: 75Mi
  securityContext: {}

service:
  webPort: 8080
  metricsPort: 8081

tls:
  loki:
    enabled: true # enable mTLS for loki
    secretName: loki-query-frontend-http # name of the secret
    cert: tls.crt
    key: tls.key
  thanos:
    enabled: false # enable mTLS for thanos
    secretName: thanos-querier-tls # name of the secret
    cert: tls.crt
    key: tls.key
  copy:
    loki:
      enabled: true # copies the tls secret from another namespace via kyverno
      secretNamespace: openshift-logging # namespace of the secret
    thanos:
      enabled: false # copies the tls secret from another namespace via kyverno
      secretNamespace: openshift-monitoring # namespace of the secret

probes:
  readinessProbe:
    enabled: true
    initialDelaySeconds: 1
    periodSeconds: 5
    timeoutSeconds: 10
  livenessProbe:
    enabled: true
    initialDelaySeconds: 1
    periodSeconds: 10
    timeoutSeconds: 10

serviceAccount:
  create: true

resources:
  requests:
    cpu: 10m
    memory: 20M


