# Default values for gp-grafana-instance.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
grafana:
  version: docker.io/grafana/grafana:10.0.2-ubuntu
ingress:
  hostname: grafana.apps.example.gepaplexx.com
  annotations:
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
auth:
  admin:
    user: "admin"
  adminGroups: "gepardec-run-admins"
  editorGroups: "Developers"
sso:
  keycloak:
    clientSecret: ""
    clientId: "grafana"
    realmUrl: "https://sso.apps.clustername.basedomain.com/realms/realmname"
resources:
  requests:
    cpu: 25m
    memory: 128m
  limits:
    memory: 512Mi
systemDatasources: true
systemDashboards: true
patch:
  namespace: syn-patch-operator
  serviceAccount: patch-sa
