---
name: Lint Helm Chart
'on':
  push:
    branches:
      - 'develop'
    tags-ignore:
      - '**'

jobs:
  lint-helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.8.0

      - name: Build Subchart dependencies
        run: |
          bin/update-helm-dependencies.sh

      - name: Lint Helm
        run: |
          helm lint \
             ./bke-development/*/. \
             ./infra/*/. \
             ./gp-workload/*/. \
             ./gp-apps/*/.


  pull-request:
    name: Pull Request
    runs-on: ubuntu-latest
    needs:
      - lint-helm
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: main
          token: ${{ secrets.PAT }}

  notify:
    name: Slack Notifications
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs:
      - lint-helm
      - pull-request
    steps:
      - name: Notify Slack channel on failure
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_ICON: https://github.com/fhochleitner/logos/raw/master/helm.png
          SLACK_USERNAME: ${{ github.repository }}
          SLACK_COLOR: '#ff0033'
          SLACK_FOOTER: ''
