---
name: Build and push Helm charts

'on':
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - 'main'
    tags-ignore:
      - '**'

jobs:
  lint-helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.8.0

      - name: Build Subchart dependencies
        run: |
          bin/update-helm-dependencies.sh

      - name: Lint Helm
        run: |
          helm lint \
             ./bke-development/*/. \
             ./infra/*/. \
             ./gp-workload/*/. \
             ./gp-apps/*/.

  release:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}
    needs:
      - lint-helm
    steps:
      - uses: actions/checkout@v3
      - name: Publish infra Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.PAT }}
          charts_dir: ./infra
          charts_url: https://gepaplexx.github.io/gp-helm-charts/
          owner: gepaplexx
          repository: gp-helm-charts
          branch: main
      - name: Publish workload Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.PAT }}
          charts_dir: ./gp-workload
          charts_url: https://gepaplexx.github.io/gp-helm-charts/
          owner: gepaplexx
          repository: gp-helm-charts
          branch: main
      - name: Publish gp-apps Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.PAT }}
          charts_dir: ./gp-apps
          charts_url: https://gepaplexx.github.io/gp-helm-charts/
          owner: gepaplexx
          repository: gp-helm-charts
          branch: main
      - name: Publish bke-develoment Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.PAT }}
          charts_dir: ./bke-development
          charts_url: https://gepaplexx.github.io/gp-helm-charts/
          owner: gepaplexx
          repository: gp-helm-charts
          branch: main

  notify:
    name: Slack Notifications
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs:
      - release
    steps:
      - name: Notify Slack channel on failure
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_ICON: https://github.com/fhochleitner/logos/raw/master/helm.png
          SLACK_USERNAME: ${{ github.repository }}
          SLACK_COLOR: '#ff0033'
          SLACK_FOOTER: ''
