---
name: Release Helm Charts in Development

'on':
  workflow_dispatch:
    inputs:
      dir:
        description: directory with helm charts to release
        type: Choice
        options:
        - bke-development
        - infra
        - gp-apps
        - gp-workfload
jobs:
  lint-helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.8.0

      - name: Build Subchart dependencies
        run: |
          bin/update-helm-dependencies.sh

      - name: Lint Helm
        run: |
          helm lint \
             ./${{ github.event.inputs.dir }}/*/.

  release:
    runs-on: ubuntu-latest
    needs:
      - lint-helm
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
    
      - name: Configure Git 
        run: |
          git config user.name "gepardec-complete"
          git config user.email "gepardec-complete@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.8.0

      - name: Publish ${{ github.event.inputs.dir }} Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.PAT }}
          charts_dir: ./${{ github.event.inputs.dir }}

  notify:
    name: Slack Notifications
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs:
      - release
    steps:
      - name: Notify Slack channel on failure
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_ICON: https://github.com/fhochleitner/logos/raw/master/helm.png
          SLACK_USERNAME: ${{ github.repository }}
          SLACK_COLOR: '#ff0033'
          SLACK_FOOTER: ''
